*{
	font-family: Verdana;
}
/* Colors */
.nebula-white{
	color: white;
}
.nebula-dk-blue{
	color: #03013A;
}
.nebula-lt-blue{
	color: #BED3ED;
}
.nebula-blue{
	color: #312783;
}
.nebula-bg{
	background-color: #312783;
}
.nebula-bg-dk{
	background-color: #1B1464;
}
.nebula-bg-blue{
	background-color: #2E3192;
}
.nebula-bg-gray{
	background-color: #464846;
}

/* Margins & Paddings */
.nebula-mt{
	margin-top: 2.65em!important;
}
.nebula-mb-small{
	margin-bottom: 1em;
}

.nebula-mb-big{
	margin-bottom: 8em;
}

.nebula-mb-extreme{
	margin-bottom: 13em;
}
.nebula-mt-extreme{
	margin-top: 13em;
}
.nebula-ml-extreme{
	margin-left: 13em;
}
.nebula-mr-extreme{
	margin-right: 13em;
}
.nebula-mt-big{
	margin-top: 5em;
}
.nebula-mt-small{
	margin-top: 1em;
}
.nebula-ml-big{
	margin-left: 6em;
}
.nebula-mr-big{
	margin-right: 6em;
}
.nebula-ml-small{
	margin-left: 1em;
}
.nebula-mr-small{
	margin-right: 1em;
}
.nebula-ml{
	margin-left: 3em;
}
.nebula-mr{
	margin-right: 3em;
}
.nebula-p{
	padding: 1em;
	margin-bottom: 0;
}
.nebula-p-big{
	padding: 3em;
}
.nebula-p-extreme{
	padding: 10em;
}

/* Borders */
.nebula-link{
	text-decoration: none;
}
.nebula-link:hover {
    text-decoration: none;
    color: white;
}
.nebula-bb{
	border-bottom: 1px solid black;
}
.nebula-b-large{
	border-width: 5px;
}
.nebula-b-light{
	border-color: #BED3ED;
}
.nebula-separator{
	background-color: #BED3ED;
    background-repeat: repeat-x;
    width: 25%;
    height: 5px;
}

/* Content */
.nebula-navbar{
	border-bottom: 2px solid #464846;
	margin-bottom: 3em;
}

.nebula-nav-item{
	font-weight: bold;
	color: #464846;	
}

.nebula-dark{
	background-color: #464846;
}

.nebula-title-white{
	color: white;
}
.nebula-footer-title{
	display: inline;
}

.nebula-justify{
	text-align: justify;
}
.nebula-bold{
	font-weight: bold;
}
.nebula-truncate{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 18em;
  height: 13em;
}

.nebula-truncate- {
  height: 3.6em; /* exactly three lines */
  text-overflow: -o-ellipsis-lastline;
}

.nebula-social{
	width: 40px;
}
.nebula-footer-title *{
	font-size: .8em;
}

.nebula-invis{
	display: none;
}


@media (min-width: 576px) {
	.nebula-mobile-logo{
		width: 400px;
	}
}

@media (min-width: 992px) {
	.nebula-invis{
		display: initial;
	}
	.nebula-mobile-logo{
		width: auto;
	}
}





/* styles for '...' */ 
.block-with-text {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative; 
  /* use this value to count block height */
  line-height: 1.5em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 15em; 
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;  
  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em;
  text-overflow: -o-ellipsis-lastline;
}
/* create the ... */
.block-with-text:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.block-with-text:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: #464846;
}



.multiline-ellipsis {
    display: block;
    display: -webkit-box;
    /*max-width: 400px;*/
    max-height: 15em;
    line-height: 1.5;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}