/* Colors */
.nebula-white{
	color: white;
}
.nebula-dk-blue{
	color: #03013A;
}
.nebula-lt-blue{
	color: #BED3ED;
}
.nebula-blue{
	color: #312783;
}
.nebula-bg{
	background-color: #312783;
}
.nebula-bg-dk{
	background-color: #1B1464;
}
.nebula-bg-blue{
	background-color: #2E3192;
}
.nebula-bg-gray{
	background-color: #464846;
}

/* Margins & Paddings */
.nebula-mt{
	margin-top: 3em;
}
.nebula-mb-small{
	margin-bottom: 1em;
}
.nebula-mb-extreme{
	margin-bottom: 13em;
}
.nebula-mt-extreme{
	margin-top: 13em;
}
.nebula-ml-extreme{
	margin-left: 13em;
}
.nebula-mr-extreme{
	margin-right: 13em;
}
.nebula-mt-big{
	margin-top: 5em;
}
.nebula-mt-small{
	margin-top: 1em;
}
.nebula-ml-big{
	margin-left: 6em;
}
.nebula-mr-big{
	margin-right: 6em;
}
.nebula-ml-small{
	margin-left: 1em;
}
.nebula-mr-small{
	margin-right: 1em;
}
.nebula-ml{
	margin-left: 3em;
}
.nebula-mr{
	margin-right: 3em;
}
.nebula-p{
	padding: 1em;
	margin-bottom: 0;
}
.nebula-p-big{
	padding: 3em;
}
.nebula-p-extreme{
	padding: 10em;
}

/* Borders */
.nebula-link{
	text-decoration: none;
}
.nebula-link:hover {
    text-decoration: none;
    color: white;
}
.nebula-bb{
	border-bottom: 1px solid black;
}
.nebula-b-large{
	border-width: 5px;
}
.nebula-b-light{
	border-color: #BED3ED;
}
.nebula-separator{
	background-color: #BED3ED;
    background-repeat: repeat-x;
    width: 25%;
    height: 5px;
}

/* Content */
.nebula-navbar{
	border-bottom: 2px solid #464846;
	margin-bottom: 3em;
}

.nebula-nav-item{
	font-weight: bold;
	color: #464846;	
}

.nebula-dark{
	background-color: #464846;
}

.nebula-title-white{
	color: white;
}
.nebula-footer-title{
	display: inline;
}


@media (min-width: 576px) {

}
